#root {
  margin: 0 auto;
  max-width: 1280px;
  font-size: medium;
  
 }

.card{
  border: 2px solid blueviolet;
  border-radius: 10px;
  margin:0 auto;
  padding: 15px;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.country-visited{
  background-color: rgb(10, 9, 7);
}
